.image-box {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.image-box img {
  width: 100%;
  height: auto;
  display: block;
}

#management-paragraph-2 {
  display: flex;
  justify-content: center!important;
}

